<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pixelz3D</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="styles/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <div class="container">
            <a class="navbar-brand" href="#!">
                <img src="img/pixelzLogo.png" alt="Pixelz3D Logo", width="", height="">
            </a>
        </div>
        <!-- Masthead-->
        <header class="masthead"style="background-image: url('img/skybox.png'); background-size: 100% 100%;  background-position: center;">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Create entire worlds with one sentence</h1>
                            <p class="mb-5">The future of game development is that simple. Web based, collaborative and powered by AI</p>
                            <div id="mc_embed_shell">
                                <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                            <style type="text/css">
                                  #mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
                                  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                                     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                          </style>
                          <div id="mc_embed_signup" style="background-color: transparent;">
                              <form action="https://dev.us21.list-manage.com/subscribe/post?u=8550eda1a27b68e44dfe08056&amp;id=a2a9f2f663&amp;f_id=0045e1e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="background-color: transparent;">
                                <br>
                                <input type="email" name="EMAIL" class=" form-control form-control-lg required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                  <input class="form-control form-control-lg" type="text" name="b_8550eda1a27b68e44dfe08056_a2a9f2f663" tabindex="-1" value="">
                              </div>
                                  <div class="optionalParent">
                                      <div class="clear foot" style="width: 100%">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg" value="Subscribe" style="width: 100%; transform: translateX(10%);">
                                      
                                    </div>
                                  </div>
                              </div>
                          </form>
                          </div>
                          <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>                          
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Ease of Use</h3>
                            <p class="lead mb-0">Crafting immersive environments is as effortless as typing a text prompt. Bring your vision to life without the need for intricate design skills.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Flexible Deployment</h3>
                            <p class="lead mb-0">Whether you're on a desktop, tablet, or mobile device, Pixelz adapts to your needs. Our responsive design ensures a consistent, intuitive experience across platforms. Create on-the-go, from the comfort of your studio, or during a brainstorming session.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Developer API's</h3>
                            <p class="lead mb-0">Our 3D Asset Generation API and Skybox Generation API grant developers unparalleled control over the creative process. Seamlessly integrate these robust tools into your applications, games, or platforms, and witness your projects flourish.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/3d_models.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Generate 3D. Fast.</h2>
                        <p class="lead mb-0">Modeling and environment creation can be time-consuming, especially for those without prior experience. Pixelz integrates artificial intelligence for quick generation, enabling creators to iterate and experiment efficiently. All the user has to do is input a prompt!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/profile.png')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Organize your all projects</h2>
                        <p class="lead mb-0">Effortlessly organize your projects into personalized workspaces, tailored for your workflow. Categorize your work, collaborate effectively and stay focused on what matters most, bringing your visions to life.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/sharing.png')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Share with your team</h2>
                        <p class="lead mb-0">With just a few clicks, invite team members to explore your projects, contribute ideas, and refine work together. No more waiting for downloads.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">What our users are saying</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="img/vincent.jpeg" alt="..." />
                            <h5>Vincent C.</h5>
                            <p class="font-weight-light mb-0">"This is so cool, I can't wait to use this!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="img/Anthony_Olivera.png" alt="..." />
                            <h5>Anthony O.</h5>
                            <p class="font-weight-light mb-0">"The UI is simple and effective, and does not take away from the engine itself"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="..." />
                            <h5>Sarah W.</h5>
                            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Start creating worlds now!</h2>
                        <!-- put a button here for the link -->
                        <p>Pixelz3D.com/Create</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Pixelz3D 2023. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
