.hide{
    display: none;
}

svg {
    color: #fafafa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.material-icons.font-30 { font-size: 30px; } 
.material-icons-outlined.font-30 { font-size: 30px; } 
.material-symbols-rounded.font-30 { font-size: 30px; } 
.material-symbols-outlined.font-30 { font-size: 30px; }
.material-icons.font-36 { font-size: 36px; }
.material-icons-outlined.font-36 { font-size: 36px; }
.material-symbols-rounded.font-36 { font-size: 36px; }
.material-symbols-outlined.font-36 { font-size: 36px; }

@media only screen and (max-width: 800px),
screen and (max-height: 550px) {
    #computerSize {
        visibility: none;
        height: 0vh;
    }

    #mobileSize {
        visibility: visible;
        height: 100vh;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }

    #ProjectNameMobile {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 35px;

        background: linear-gradient(180deg, #fafafa 45.55%, #fafafa 81.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

}

@media only screen and (min-width: 800px) and (min-height: 550px) {
    #computerSize {
        visibility: visible;
        height: 100vh;
    }

    #mobileSize {
        visibility: hidden;
        height: 0vh;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        background-color: #fafafa;
        height: 100%;
        color:white;
    }

    .paddaway {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #ProjectNameComputer {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 35px;

        background: linear-gradient(180deg, #fafafa 45.55%, #fafafa 81.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    #gradientBorderSignUp {
        max-width: 250px;
        padding: 0.25rem;
        background: linear-gradient(to right, #fafafa, #fafafa);
        display: flex;
        border-radius: 90px;
    }

    #SignUpBtn {
        background: white;
        width: 10rem;
        height: 2.5rem;
        border-radius: 90px;
        padding-top: 0.5rem;
    }

    /* Scene Player Menu */
    .toolsMenuBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #131418;
        height: 64px;
        border-radius: 16px;
        padding: 8px 12px;
    }

    #ObjectToolsBox {
        position: absolute;
        z-index: 5;
        top: 64px;
        left: 50%;
        transform: translateX(-50%);
    }

    .highlight {
        background-color: #FF007D !important;
        color: white !important;
    }

    .border-gradient {
        border-bottom: solid 3px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #fafafa, #fafafa);
    }

    .scenePlayerItem {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        height: 100%;
        float: right;
    }

    .playerButtons {
        background: none;
        border: none;
        color: #8D8D8D;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        height: 42px;
        width: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .vertical-divider {
        background-color: #2B2C2F;
        height: 45%;
        width: 6px;
        border-radius: 4px;
        margin: 0 8px;
    }

    .thin-horizontal-divider {
        background-color: #1F2023;
        height: 2px;
        width: 100%;
    }

    .primaryPlayerButton {
        background-color: #2B2C2F !important;
        color: #D4D4D5 !important;
    }

    .playerSection {
        display: flex;
        gap: 4px;
    }

    .textButton {
        background: none;
        border: none;
        padding: 10px 16px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        border-radius: 8px;
    }

    /* Top Bar CSS */

    #TopBar {
        height: 10%;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 2%;
        transform: translate(-50%, 0%);
        min-width: 30vw;
    }

    #ToolsMenu {
        height: 40%;
        border-top: 1px solid #181818;
        display: flex;
        justify-content: space-between;
        background-color: #181818;
    }

    #leftSVG svg {
        width: 80%;
        overflow: visible;
        display: block;
    }

    /* Scene Viewer CSS */

    #SceneViewer {
        width: 100%;
        height: 100%;
        pointer-events: all;
        z-index: 1;
        position: absolute;
    }

    #UnselectedInspector {
        background-color: #131418;
        height: auto;
        width: 25vw;
        position: absolute;
        right: 1%;
        top: 2%;
        border-radius: 8px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .inspectorSection {
        padding: 12px;
    }

    #UnselectedInspectorTop {
        padding: 12px;
    }

    #UnselectedInspectorBottom {
        padding: 12px;
    }

    .secondaryInspectorText {
        color: #9C9D9E;
        margin: 0;
    }

    .inspectorBox {
        border-radius: 8px;
        width: 36px;
        height: 36px;
    }

    .inspectorRow {
        display: flex; 
        align-items: center;
        justify-content: space-between;
        margin: 8px 0;
    }

    .inspectorRowContent {
        display: flex; align-items: center;
        gap: 8px;
    }

    .threeItem {
        width: 60%;
    }

    #SelectedObjectInspector {
        background-color: #181818;
        height: auto;
        width: 25vw;
        position: absolute;
        right: 1%;
        top: 2%;
        border-radius: 8px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vw;
        display: none;
    }

    #SelectedObjectInspector button {
        background-color: transparent;
        border-width: 0;
        color: black;
    }

    #Scene {
        width: 100%;
        height: 100%;
    }

    #Controls {
        position: absolute;
        top: 35%;
        right: 1em;
    }

    #Controls button {
        margin-bottom: 2vh;
    }

    .controlButton {
        background-color: transparent;
        border-width: 0;
        color: white;
    }

    #SelectedObjectInspector input {
        width: 5vw;
        background-color: #282828;
        color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
        border: 1px;
        text-align: center;
    }

    .list-group-item {
        padding: 1.2vw;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
        border: 1px;

        /* BOOTSTRAP DEFAULTS */
        margin: 0.5vw;
        margin-bottom: 2vh;
    }

    #InspectorScaling,
    #InspectorPosition,
    #InspectorVisibility,
    #InspectorColors {
        padding-top: 1vh;
        padding-bottom: 1vh;
        height: 15%;
        width: 100%;
    }

    /* Left Window CSS */

    .leftWindow {
        width: 20%;
        height: 90%;
        top: 2%;
        left: 1%;
        float: left;
        position: absolute;
        text-align: center;
        background-color: #131418;
        margin: 0;
        z-index: 2;
        border-radius: 16px;
    }

    .textInputBackground {
        display: flex;
        background-color: #1F2023;
        border-radius: 8px;
        padding: 6px;
        color: #838485;
    }

    .textInput {
        background: none;
        border: none;
        color: white;
        width: 100%;
    }

    .textInput::placeholder {
        color: #838485;
    }

    .textInput:focus {
        outline: none;
    }

    #objectSelection button {
        margin-top: 2vh;
    }

    #objectSelection {
        height: 100%;
        /* change back to 88% when "basic shapes" is added back*/
        font-size: smaller;
    }

    #shapesSelector {
        height: 12%;
        border-bottom: 1px solid black;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .objectButton {
        width: 100px;
        height: 100px;
        background-color: #282828;
        color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
        border: 1px;
        margin: 0.5rem;
    }

    #ShapeSelectorBtn {
        width: 65%;
        height: 75%;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
        border: 1px;
        margin: 0.5rem;
    }

    #SearchBtn {
        width: 20%;
        height: 75%;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
        border: 1px;
        margin: 0.5rem;
    }

    .leftWindowTitle {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .leftWindowSearchBar {
        margin: 16px;
    }
    
    #SceneList {
        padding: 16px;
    }

    .objectListButton {
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        display: flex;
        color: #9E9E9F;
        padding: 4px 8px;
        margin: 8px 0;
        gap: 8px;
        align-items: center;
        width: 100%;
        border-radius: 8px;
    }

    .objectListButton > p {
        margin: 0;
    }

    #ObjectCreationList {
        position: absolute;
        top: 72px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: start;
        height: auto;
        min-width: 20vw;
        max-width: 30vw;
        padding: 12px;
    }

    .objectCreationItem {
        display: flex;
        align-items: center;
        margin: 8px 0;
        flex-grow: 1;
        width: 100%;
    }

    .objectCreationItemBackground {
        display: flex;
        background-color: #1F2023;
        border-radius: 8px;
        padding: 6px;
        color: #838485;
        flex-grow: 1;
        margin-left: 8px;
        overflow: hidden;
    }

    .objectCreationItemTitle {
        width: 100%;
        margin: 0;
    }

    .yellowBorderBox {
        border: #FFE816 1px solid;
        border-radius: 6px;
        display: flex;
        color: #9C9D9E;
        padding: 4px;
        margin-bottom: 8px;
    }
    
    .objectCreationAddition {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        margin: 8px 0;
    }

    .axisPrefix {
        color: #0F5994;
        margin-right: 4px;
    }
}